.home {
  background-color: #fff;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  text-align: left;
  color: #000;
}

.home th,.home td {
  padding: 16px;
  border: 1px solid;
}